body {
    background-color:$color__background;
}

.highlight {
    background-color:$color__secondary;

}

.highlight--secondary {
    background-color: $color__highlight;
    color:$color__bodyBackground;
}

.highlight--secondary .sectionTitle {
    color:$color__bodyBackground;
    margin-bottom:.5em;
}

.highlight--tertiary {
    background-color: $color__bodyHeader;
    color:$color__bodyBackground;
}

.highlight--tertiary .sectionTitle, .highlight--tertiary .site__title {
    color:$color__bodyBackground;
    margin-bottom:.5em;
}
