body {
    background-color:$color__background;
}

.site__body {
    background-color:$color__background;
}

.highlight {
    background-color:$color__secondary;
    padding:2em 0;
}

.highlight--push {
    margin-top:3em;
}

.highlight .container {
    max-width: 960px;
    margin:0 auto;
    padding:32px;
}

.highlight--secondary {
    background-color: $color__highlight;
    color:$color__bodyBackground;
}

.highlight--secondary .sectionTitle {
    color:$color__bodyBackground;
}

.highlight--tertiary {
    background-color: $color__bodyHeader;
    color:$color__bodyBackground;
}

.highlight--tertiary .sectionTitle, .highlight--tertiary .site__title {
    color:$color__bodyBackground;
}
