$color__primary: #37a7ff; //blue
$color__secondary: #c8e0f1; //light blue
$color__highlight: #e98b38; //orange
$color__background: #e1e4f6; //grey with tinge of blue
$color__bodyBackground: #fff; //white
$color__bodyHeader: #252832; //dark grey with tinge of blue
$color__bodyCopy: #525560; //lighter grey with tinge of blue

$color__link: $color__primary;
$color__link--hover: $color__highlight;