<section class="highlight highlight--secondary callout" id="contact">
	<div class="container">
		<h3 class="sectionTitle">Like What You See?</h3>
		<a class="button button--large" href="#">Get In Touch</a>
	</div>
</section>