<section class="feed">
	<div class="container__inner">
		<h3 class="sectionTitle">
			Design<br>
			<strong>Work</strong>
		</h3>
		<section class="feed__gallery">
			<% data.designWork.first(6).each do |designWork| %>
				<%= image_tag lorem.image('300x300'), :class => "gallery__item" %>
			<% end %>
		</section>
	</div>
</section>


