<%= partial "contact" %>

<footer class="site__footer">
    <secton class="footer__main highlight highlight--tertiary callout">
        <div class="container">
            <h1 class="site__title">Andrew Bash</h1>
            <section class="socialIcons">
                <% data.social.each do |social| %>
                    <a href='<%= social.link %>' class="icon"><%= svg social.network %></a>
                <% end %>
            </section>
        </div>
    </secton>
    <section class="footer__info">
        <p>Copyright 2017 Andrew Bash</p>
    </section>
</footer>