<header class="site__header">
    <%= svg 'logo' %>
    <nav class="site__nav">
        <a class="nav__link" href="#home">Home</a>
        <a class="nav__link" href="#home">About</a>
        <a class="nav__link" href="#home">Work</a>
        <a class="nav__link" href="#home">Resume</a>
        <a class="nav__link button button--secondary" href="#home">Contact</a>
    </nav>
</header>