<header class="site__header">
    <%= svg 'logo' %>
    <nav class="site__nav">
        <a class="nav__link" href="#home">Home</a>
        <a class="nav__link" href="#about">About</a>
        <a class="nav__link" href="#work">Work</a>
        <a class="nav__link" href="#resume">Resume</a>
        <a class="nav__link button button--secondary" href="#contact">Contact</a>
    </nav>
</header>