<section class="feed container" id="work">
	<div class="container__inner">
		<h3 class="sectionTitle">
			Web<br>
			<strong>Work</strong>
		</h3>
		<% data.portfolio.webWork.first(5).each do |webWork| %>
			<section class="feed__info row">
				<div class="column one-half">
					<%= image_tag (webWork.image) %>
				</div>
				<div class="column one-half">
					<h4 class="info__title"><%= webWork.title %></h4>
					<div class="info_copy"><%= webWork.desc %></div>
					<% if webWork.link %>
						<%= link_to "See Demo", webWork.link, :class => "button" %>
					<% end %>
				</div>
			</section>
		<% end %>
	</div>
</section>