---
title: Andrew Bash - Web Designer and Developer in Columbus, Ohio
---
<div class="site__body">
  <section class="container" id="about">
    <div class="container__inner primaryInfo">
      <div class="primaryInfo__content">
        <h3 class="sectionTitle">
          Passion.<br>
          Dedication.<br>
          <strong>Hard Work.</strong>
        </h3>
        <p>I am a Web Designer and Developer from Columbus, Ohio. I live and breathe "web", and am constnatly seeking to improve and evolve my skillset.</p>
        <p>Take a look at my work, and if you're interested please don't hesitate to reach out.</p>
      </div>
    </div>
  </section>

  <%= partial "web-work" %>

  <%= partial "resume" %>
</div>

<%= partial "footer" %>