---
title: Andrew Bash - Web Designer and Developer in Columbus, Ohio
---

<header class="site__header" id="home">
  <h1 class="site__title">Hi, I'm Andrew Bash.</h1>
  <h2 class="site__subtitle">Web Designer and Developer in Columbus, Ohio</h2>
  <section class="socialIcons">
    <a href="#" class="icon icon--facebook"></a>
    <a href="#" class="icon icon--linkedin"></a>
    <a href="#" class="icon icon--twitter"></a>
    <a href="#" class="icon icon--github"></a>
  </section>
</header>

<section class="block block--primary" id="about">
	<h3 class="sectionTitle">Passion. Dedication. Hard Work.</h3>
	<p>I am a Web Designer and Developer from Columbus, Ohio. I live and breathe "web", and am constnatly seeking to improve and evolve my skillset.</p>
	<p>Take a look at my work, and if you're interested please don't hesitate to reach out.</p>
</section>

<%= partial "web-work" %>

<%= partial "design-work" %>

<%= partial "resume" %>

<%= partial "contact" %>
