.button {
    background-color: $color__primary;
    border-radius:2em;
    padding:.25em .75em;
    color: $color__bodyBackground;
    text-decoration: none;
    @include transition--delay;
    text-transform:uppercase;
    font-family: $font__main;
    display:inline-block;
}

.button--large {
    font-size:1.5em;
}

.button:hover {
    background-color:$color__bodyHeader;
    color: $color__bodyBackground;
    @include transition;
    box-shadow: 0px 3px 12px 0px rgba($color__bodyHeader,0.3);
    transform:translateY(-2px);
}

.button--secondary {
    background-color: $color__bodyBackground;
    color: $color__primary;
}

.button--secondary:hover {
    background-color: $color__highlight;
}