.feed__info {
    margin:0 0 3em;
}

.info__title {
    margin:0 0 .5em;
    color:$color__primary;
}

.feed__gallery {
    display:grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 1em;
    grid-row-gap: 1em;
}

.gallery__item {
    width:100%;
}