.hero {
    background-color: $color__primary;
    color:$color__bodyBackground; 
}

.hero .container {
    padding: 1em 6em 10em;
    max-width: 896px;
    margin-top:0;
}

.hero__title {
    max-width:5em;
    margin:0;
    color:$color__bodyBackground;
}

.hero__title strong {
    font-weight:700;
}

.hero__subtitle {
    font-size:1em;
    color:$color__bodyBackground;
}

.hero .icon svg {
    fill: $color__bodyBackground;
    @include transition--delay;
}


.hero .icon:hover svg {
    @include transition;
    fill: $color__highlight;
    
}